<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>185701819717-dpl8i4njj5m4oop1hgnpmui78obo0b00.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.185701819717-dpl8i4njj5m4oop1hgnpmui78obo0b00</string>
	<key>API_KEY</key>
	<string>AIzaSyDdymQJqghaJ4-84439Qxc4zEpP5UMObsU</string>
	<key>GCM_SENDER_ID</key>
	<string>185701819717</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.crmapp</string>
	<key>PROJECT_ID</key>
	<string>saphackproject</string>
	<key>STORAGE_BUCKET</key>
	<string>saphackproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:185701819717:ios:59c8ec4733376513278a2c</string>
	<key>DATABASE_URL</key>
	<string>https://saphackproject-default-rtdb.firebaseio.com</string>
</dict>
</plist>